<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Products</title>
    <link rel="stylesheet" href="../static/css/categories.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../normalize.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,400;1,700&family=Montserrat:wght@700&family=Open+Sans:wght@400;700&display=swap"
        rel="stylesheet">
</head>
<body class="overlay">
    <header class="header container">
        <a href="./index.html">
            <img class="header-logo" src="../static/png/index/logo.png" alt="logo" width="100" height="52">
        </a>
        <nav>
            <ul class="menu-nav">
                <li class="menu-nav-item"><a href="">Blog</a></li>
                <li class="menu-nav-item"><a href="./toys.html">Catalog</a></li>
                <li class="menu-nav-item"><a href="">About Us</a></li>
            </ul>
        </nav>
        <img class="header-search" src="../static/png/index/search.png" alt="search" width="17" height="18">
        <a class="header-contact" href="/contact">Contact Us</a>
    </header>
    
    <main id="main">        
        <h1 class="title-page container">Category Products</h1>
        <section class="categori-str-1 container">
            <ul class="categori-list-1">
                <li class="categori-item-1 color-1">
                    <a href="">
                        <img class="categori-item-1-img" src="../static/png/index/apparel_kids.png" 
                            alt="apparel_kids" width="244" height="177">                            
                        <h2 class="categori-item-1-title">APPAREL<br>KIDS</h2>
                    </a>
                </li>
                <li class="categori-item-1 color-2">
                    <a href="">
                        <img class="categori-item-1-img" src="../static/png/index/holi_shop.png"
                            alt="holi_shop" width="208" height="244">
                        <h2 class="categori-item-1-title">HOLIDAY<br>SHOP</h2>                        
                    </a>
                </li>
                <li class="categori-item-1 color-3">
                    <a href="">
                        <img class="categori-item-1-img" src="../static/png/index/toys.png"
                            alt="toys" width="270" height="270">
                        <h2 class="categori-item-1-title">TOYS</h2>                        
                    </a>
                </li>
            </ul>
        </section>   

        <section class="categori-str-2 container">
            <ul class="categori-list-2">
                <li class="categori-item-2 color-4">
                    <a href="">                        
                        <img class="categori-item-2-img" src="../static/png/index/accesories.png" 
                            alt="accesories" width="240" height="250">
                        <h2 class="categori-item-2-title">ACCESSORIES</h2>
                    </a>
                </li>
                <li class="categori-item-2 color-5">
                    <a href="">
                        <img class="categori-item-2-img" src="../static/png/categories/sale.png"
                            alt="sale" width="248" height="248">                        
                        <h2 class="categori-item-2-title">SALE</h2>
                    </a>
                </li>
                <li class="categori-item-2 color-6">
                    <a href="">                        
                        <img class="categori-item-2-img" src="../static/png/categories/adults.png"
                            alt="adults" width="271" height="204">
                        <h2 class="categori-item-2-title">APPAREL<br>ADULTS</h2>
                    </a>
                </li>
            </ul>
        </section>

        <section class="descrip container">
            <h3 class="title-descript">Product Description</h3>
            <p class="text-descript">
                Interactive doll Zapf Creation Baby Born Sister can drink from a bottle and almost really <br>
                cry. You can even bathe her, just like a little sister.
            </p>
            <p class="text-descript">
                A toy with a height of 43 cm bends its knees, the head rotates, it can stand upright. Such a <br>
                doll will be an excellent choice for a gift for a girl from 4 years old.
            </p>
            <p class="text-descript">
                The set includes a miniature set of fashionable clothes, a hairbrush, a bottle for water, a <br>
                pair of hairpins and elastic bands for hair, as well as two bracelets: one for the doll, the <br>
                other for her young mistress.
            </p>
        </section>
    </main>
    
    <footer class="footer">
        <div class="footer-wrap container">
            <div class="navigation list-footer">
                <h3 class="navigation-title">Navigation</h3>
                <hr color="#666666">
                <ul class="navigation-list">
                    <li class="navigation-item">
                        <a href="">
                            <span class="navigation-item-title">About Us</span>
                        </a>
                    </li>
                    <li class="navigation-item">
                        <a href="">
                            <span class="navigation-item-title">Blog</span>
                        </a>
                    </li>
                    <li class="navigation-item">
                        <a href="">
                            <span class="navigation-item-title">Design Services</span>
                        </a>
                    </li>
                    <li class="navigation-item">
                        <a href="">
                            <span class="navigation-item-title">Featured On</span>
                        </a>
                    </li>
                    <li class="navigation-item">
                        <a href="">
                            <span class="navigation-item-title">2018 Holiday Catalog</span>
                        </a>
                    </li>
                    <li class="navigation-item">
                        <a href="">
                            <span class="navigation-item-title">Shop By Designer</span>
                        </a>
                    </li>
                </ul>
                
            </div>

            <div class="customer-inf list-footer">
                <h3 class="customer-inf-title">Customer Information</h3>
                <hr color="#666666">
                <ul class="customer-inf-list">
                    <li class="customer-inf-item">
                        <a href="">
                            <span class="customer-inf-item-title">Contact Us</span>
                        </a>
                    </li>
                    <li class="customer-inf-item">
                        <a href="">
                            <span class="customer-inf-item-title">Sale Exclusions</span>
                        </a>
                    </li>
                    <li class="customer-inf-item">
                        <a href="">
                            <span class="customer-inf-item-title">Shipping & Returns</span>
                        </a>
                    </li>
                    <li class="customer-inf-item">
                        <a href="">
                            <span class="customer-inf-item-title">Terms & Conditions</span>
                        </a>
                    </li>
                    <li class="customer-inf-item">
                        <a href="">
                            <span class="customer-inf-item-title">Privacy Policy</span>
                        </a>
                    </li>
                    <li class="customer-inf-item">
                        <a href="">
                            <span class="customer-inf-item-title">Search</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="connect list-footer">
                <h3 class="connect-title">Connect</h3>
                <hr color="#666666">
                <form class="connect-form" action="/email" method="POST">                    
                    <input class="input-con" type="text" id="Email" placeholder="Email">
                    <div class="wrapper-btn">
                        <button class="btn-black" type="submit">JOIN</button>
                    </div>
                </form>
                <ul class="connect-list">
                    <li class="connect-item">
                        <a href="">
                            <img class="connect-item-img" src="../static/svg/index/f.svg" alt="facebook" width="8"
                                height="14">
                        </a>
                    </li>
                    <li class="connect-item">
                        <a href="">
                            <img class="connect-item-img" src="../static/svg/index/Fill.svg" alt="twitter" width="14"
                                height="12">
                        </a>
                    </li>
                    <li class="connect-item">
                        <a href="">
                            <img class="connect-item-img" src="../static/svg/index/Pinterest.svg" alt="pinterest" width="16"
                                height="16">
                        </a>
                    </li>
                    <li class="connect-item">
                        <a href="">
                            <img class="connect-item-img" src="../static/svg/index/Instagram.svg" alt="inst" width="16"
                                height="16">
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
           
        <div class="company-rt container">
            <hr color="#666666">
            <div class="company-rt-wrapper">
                <h4 class="company-rt-title">Company Rating</h4>
                <ul class="company-rt-img-list">
                    <li class="company-rt-img-item">
                        <img class="company-rt-img" src="../static/png/index/Star.png" alt="rating" width="17" height="16">
                    </li>
                    <li>
                        <img class="company-rt-img" src="../static/png/index/Star.png" alt="rating" width="17" height="16">
                    </li>
                    <li>
                        <img class="company-rt-img" src="../static/png/index/Star.png" alt="rating" width="17" height="16">
                    </li>
                    <li>
                        <img class="company-rt-img" src="../static/png/index/Star.png" alt="rating" width="17" height="16">
                    </li>
                    <li>
                        <img class="company-rt-img" src="../static/png/index/Star.png" alt="rating" width="17" height="16">
                    </li>
                </ul>                
                <p class="company-rt-text">Copyright © 2018 Dlk • Design Life Kids</p>
                <p class="company-rt-text1" color="#666666">Web Design — Direct Line Development</p>
            </div>            
        </div>
    </footer>
    
</body>
</html>