<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Products</title>
    <link rel="stylesheet" href="../static/css/toys.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../normalize.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,400;1,700&family=Montserrat:wght@700&family=Open+Sans:wght@400;700&display=swap"
        rel="stylesheet">
</head>
<body>
    <header class="header container">
        <a href="">
            <img class="header-logo" src="../static/png/index/logo.png" alt="logo" width="100" height="52">
        </a>
        <nav>
            <ul class="menu-nav">
                <li class="menu-nav-item"><a href="">Blog</a></li>
                <li class="menu-nav-item"><a href="">Catalog</a></li>
                <li class="menu-nav-item"><a href="">About Us</a></li>
            </ul>
        </nav>
        <img class="header-search" src="../static/png/index/search.png" alt="search" width="17" height="18">
        <a class="header-contact" href="/contact">Contact Us</a>
    </header>
    <hr>
    <main>        
       <h1>Toy for kids</h1>
       <section class="section1">
            <form action="/" method="post">
                <label>
                    <b>Cost</b><br>
                    <input name="name" type="range" min="0" max="500"><br>
                    <pre>0               500</pre>
                </label>
                
                <b>Color</b><br>
                <label>
                    <input name="Black" type="checkbox" value="check1">Black<br>
                </label>
                <label>
                    <input name="Blue" type="checkbox" value="check2">Blue<br>
                </label>
                <label>
                    <input name="Green" type="checkbox" value="check3">Green<br>
                </label>
                <label>
                    <input name="White" type="checkbox" value="check4">White<br>
                </label>
                <br>
                <b>Delivery</b><br>
                <label>
                    <input name="Delivery" type="radio" value="radio1">Free shipping<br>
                </label>
                <label>
                    <input name="Delivery" type="radio" value="radio2">Fast shipping<br>
                </label>
                <br>
                <b>Amount</b><br>
                <label>
                    <input name="Delivery" type="radio" value="Aradio1">0-5<br>
                </label>
                <label>
                    <input name="Delivery" type="radio" value="Aradio2">10-20<br>
                </label>
                <label>
                    <input name="Delivery" type="radio" value="Aradio2">20-50<br>
                </label>
                <br>
                <button type="submit">Apply</button>
            </form>
       </section>
       <section>
            <ul>
                <li>
                    <a href="">
                        <img src="../static/png/toys/image-5.png" alt="shark"
                        width="380" height="385">
                        <p>SHARKY BEAN BAG CHAIR COVER</p>
                        <p>$60.00 USD</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../static/png/toys/image-4.png" alt="BRASS"        
                        width="380" height="385">
                        <p>BRASS DECO FRAMES</p>
                        <p>$66.00 USD</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../static/png/toys/image-3.png" alt="CIBO"
                        width="380" height="385">
                        <p>CIBO FULL APRON</p>
                        <p>$60.00 USD</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../static/png/toys/image-2.png" alt="GATCHA"
                        width="380" height="385">
                        <p>GATCHA GUMBALL MACHINE</p>
                        <p>$56.00 USD</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../static/png/toys/image-1.png" alt="CHRISTMAS"
                        width="380" height="385">
                        <p>CHRISTMAS ADVENT SCENTED CANDLE</p>
                        <p>$29.00 USD</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../static/png/toys/image.png" alt="TANGLE"
                        width="380" height="385">
                        <p>TANGLE SPINNING TEA LIGHT</p>
                        <p>$56.00 USD</p>
                    </a>
                </li>
            </ul>
       </section>
    </main>
    <hr>
    <footer class="footer">
        <div class="footer-wrap container">
            <div class="navigation list-footer">
                <h3 class="navigation-title">Navigation</h3>
                <hr color="#666666">
                <ul class="navigation-list">
                    <li class="navigation-item">
                        <a href="">
                            <span class="navigation-item-title">About Us</span>
                        </a>
                    </li>
                    <li class="navigation-item">
                        <a href="">
                            <span class="navigation-item-title">Blog</span>
                        </a>
                    </li>
                    <li class="navigation-item">
                        <a href="">
                            <span class="navigation-item-title">Design Services</span>
                        </a>
                    </li>
                    <li class="navigation-item">
                        <a href="">
                            <span class="navigation-item-title">Featured On</span>
                        </a>
                    </li>
                    <li class="navigation-item">
                        <a href="">
                            <span class="navigation-item-title">2018 Holiday Catalog</span>
                        </a>
                    </li>
                    <li class="navigation-item">
                        <a href="">
                            <span class="navigation-item-title">Shop By Designer</span>
                        </a>
                    </li>
                </ul>
                
            </div>

            <div class="customer-inf list-footer">
                <h3 class="customer-inf-title">Customer Information</h3>
                <hr color="#666666">
                <ul class="customer-inf-list">
                    <li class="customer-inf-item">
                        <a href="">
                            <span class="customer-inf-item-title">Contact Us</span>
                        </a>
                    </li>
                    <li class="customer-inf-item">
                        <a href="">
                            <span class="customer-inf-item-title">Sale Exclusions</span>
                        </a>
                    </li>
                    <li class="customer-inf-item">
                        <a href="">
                            <span class="customer-inf-item-title">Shipping & Returns</span>
                        </a>
                    </li>
                    <li class="customer-inf-item">
                        <a href="">
                            <span class="customer-inf-item-title">Terms & Conditions</span>
                        </a>
                    </li>
                    <li class="customer-inf-item">
                        <a href="">
                            <span class="customer-inf-item-title">Privacy Policy</span>
                        </a>
                    </li>
                    <li class="customer-inf-item">
                        <a href="">
                            <span class="customer-inf-item-title">Search</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="connect list-footer">
                <h3 class="connect-title">Connect</h3>
                <hr color="#666666">
                <form class="connect-form" action="/email" method="POST">                    
                    <input class="input-con" type="text" id="Email" placeholder="Email">
                    <div class="wrapper-btn">
                        <button class="btn-black" type="submit">JOIN</button>
                    </div>
                </form>
                <ul class="connect-list">
                    <li class="connect-item">
                        <a href="">
                            <img class="connect-item-img" src="../static/svg/index/f.svg" alt="facebook" width="8"
                                height="14">
                        </a>
                    </li>
                    <li class="connect-item">
                        <a href="">
                            <img class="connect-item-img" src="../static/svg/index/Fill.svg" alt="twitter" width="14"
                                height="12">
                        </a>
                    </li>
                    <li class="connect-item">
                        <a href="">
                            <img class="connect-item-img" src="../static/svg/index/Pinterest.svg" alt="pinterest" width="16"
                                height="16">
                        </a>
                    </li>
                    <li class="connect-item">
                        <a href="">
                            <img class="connect-item-img" src="../static/svg/index/Instagram.svg" alt="inst" width="16"
                                height="16">
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
           
        <div class="company-rt container">
            <hr color="#666666">
            <div class="company-rt-wrapper">
                <h4 class="company-rt-title">Company Rating</h4>
                <ul class="company-rt-img-list">
                    <li class="company-rt-img-item">
                        <img class="company-rt-img" src="../static/png/index/Star.png" alt="rating" width="17" height="16">
                    </li>
                    <li>
                        <img class="company-rt-img" src="../static/png/index/Star.png" alt="rating" width="17" height="16">
                    </li>
                    <li>
                        <img class="company-rt-img" src="../static/png/index/Star.png" alt="rating" width="17" height="16">
                    </li>
                    <li>
                        <img class="company-rt-img" src="../static/png/index/Star.png" alt="rating" width="17" height="16">
                    </li>
                    <li>
                        <img class="company-rt-img" src="../static/png/index/Star.png" alt="rating" width="17" height="16">
                    </li>
                </ul>                
                <p class="company-rt-text">Copyright © 2018 Dlk • Design Life Kids</p>
                <p class="company-rt-text1" color="#666666">Web Design — Direct Line Development</p>
            </div>            
        </div>
    </footer>
    
</body>
</html>