/* Footer */

.footer {
    margin-top: 60px;
    padding: 100px 0;
    background-color: #434343;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.navigation {}

.list-footer {
    /* margin: 0 10px; */
    /* width: calc(25% - 20px); */
    width: 32%;
}

.navigation-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    /* color: #666666; */
}

.navigation-list {}

.navigation-item {}

.navigation-item-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.customer-inf {}

.customer-inf-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}

.customer-inf-list {}

.customer-inf-item {}

.customer-inf-item-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.connect {}

.connect-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
}

.connect-form {}

.connect-list {}

.connect-item {}

.connect-item-img {}

.company-rt {}

.company-rt-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.company-rt-img-list {
    margin-left: 25px;
    margin-right: auto;
    display: flex;
}

.company-rt-img-item {
    

}

.company-rt-img {
    margin-right: 3px;
    /* margin-left: 25px;
    margin-right: 3px; */
}

.company-rt-text {
    margin-right: 140px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.company-rt-text1 {
    margin-right: 112px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A2A2A2;
}

.input-con {
    color: gray;
}

.company-rt-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}