body{
    background-color: #FFFFFF;
}

.holder{
    display: none;
}

.header {
    background-color: FFFFFF;
}

.footer {
    background-color: #434343;
    color: white;
    text-decoration: none;
    
}
